/* ============= CONTACTS ============= */
.contacts {
	@media screen and (max-width: 767px) {
		display: none;
		 }
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		display: flex;
		 margin-left: auto;
		 flex-direction: column;
	 }

	@media screen and (min-width: 1200px) {
		display: flex;
		margin-left: auto;
	}

}
   
.contacts__item{
	@media screen and (min-width: 768px) {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	@media screen and (min-width: 1200px) {
		&:not(:last-child) {
			margin-right: 50px;
		}
	}

}
.contacts__link  {
   display: block;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
   color: $Secondary-text-color;
   fill: $svg-color;
   transition: color $animation, 
   fill $animation;
	&:hover,&:focus{
		color: $Accent;
		fill: $Accent;
	}
}
.contacts__icon {
   margin-right: 10px;
}